<link href="~/css/style.css" rel="stylesheet" />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="back">
    <div id="home">
        <div class="text-center">
            <h1>LIBRARY APP</h1>
            <h3 style="font-style: italic; color: beige;">To make management easier.</h3>
            <a href="/books/index" class="btn btn-light btn-lg">Take me to the Book List</a>
        </div>
    </div>
</div>
