body {
    height: 100%;
    width: 100%;
    background-image: url(../img/158897341974013843.jpg);
    background-position: center;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-size: 500%;
    font-weight: 400;
    color: beige
}